<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Productos</title>
  </head>
  <body>
    <a href="/">Atrás</a>
    <input type="text" />
    <select name="Categoria">
      <option value="value1">Value 1</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
    <form action="/productos/crear-producto" method="GET">
      <button type="submit">Crear Producto</button>
    </form>

    <h1>Lista de Productos</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Stock</th>
          <th>Precio Unitario</th>
          <th>Categoría</th>
          <th>Unidad de Medida</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach((producto) => { %>
        <tr>
          <td><%= producto.nombre %></td>
          <td><%= producto.stock %></td>
          <td>S/. <%= producto.precio_unitario %></td>
          <td><%= producto.categoria %></td>
          <td><%= producto.unidad_medida %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
